#!/bin/sh
function cdup() {
  cd $(printf "%0.s../" $(seq 1 $1 ));
}
alias 'cd..'='cdup'

if [[ -d "/mnt/c/Users/sgdon" ]]; then
    alias 'goWin'='cd /mnt/c/Users/sgdon'
fi

if [[ -d "/mnt/c/Users/sgdon/Source" ]];  then
    alias 'goSource'='cd /mnt/c/Users/sgdon/Source'
fi
